/DJGithub/Github/config.plist
.DS_Store
build/
DJGithub/Github/Resource/config.json
DJGithub.xcodeproj/project.xcworkspace/xcuserdata/jiqinqiang.xcuserdatad/UserInterfaceState.xcuserstate
DJGithub.xcodeproj/project.xcworkspace/xcuserdata/polarisdev.xcuserdatad/UserInterfaceState.xcuserstate
